Repository andrewdimmer/pensieve, pull requests merged in 2020-07, with the labels that each got.

#1 chore(functions): Initialize Firebase Functions
  .firebaserc
  .gitignore
  firebase.json
  functions/.gitignore
  functions/package-lock.json
  functions/package.json
  functions/src/index.ts
  functions/tsconfig.json
  functions/tslint.json
Labels: chore

#2 feat(functions): Added Cross-Platform Database Functions
  functions/package-lock.json
  functions/package.json
  functions/src/config/firebaseConfig.ts
  functions/src/config/firestoreConfig.ts
  functions/src/cross-platform/getNotesAndTags.ts
  functions/src/cross-platform/manageNotes.ts
  functions/src/cross-platform/manageTags.ts
  functions/src/cross-platform/tagUntag.ts
  functions/src/helpers/errorHelpers.ts
Labels: cross-platform, enhancement

#3 docs(functions): Added Documentation for Cross-Platform Functions
  functions/@Types/index.d.ts
  functions/src/cross-platform/getNotesAndTags.ts
  functions/src/cross-platform/manageNotes.ts
  functions/src/cross-platform/tagUntag.ts
Labels: cross-platform, documentation

#4 chore(functions): Added Note and Tag Type Definitions
  functions/src/@types/index.d.ts
  functions/src/cross-platform/getNotesAndTags.ts
  functions/src/cross-platform/manageTags.ts
Labels: chore, cross-platform

#6 feat(flutter): Added Basic Note UI
  flutter/lib/Widgets/note.dart
  flutter/lib/main.dart
Labels: enhancement, flutter-app

#7 feat(flutter): Added Navigation and Page Views
  flutter/lib/Pages/noteList.dart
  flutter/lib/Widgets/bottomNavBar.dart
  flutter/lib/Widgets/bottomNavBarButton.dart
  flutter/lib/main.dart
Labels: enhancement, flutter-app

#8 fix(flutter): FAB and handleReorder Now Change With the Page
  flutter/lib/Pages/noteList.dart
  flutter/lib/main.dart
Labels: bug, flutter-app

#9 feat(alexa): created first working handler
  functions/src/alexa/handlers.ts
  functions/src/index.ts
Labels: amazon-alexa, enhancement

#10 feat(functions): Can Now Get a Limited Number of Notes
  flutter/lib/Database/getNotes.dart
Labels: cross-platform, enhancement

#11 feat(functions): Can Now Get a Limited Number of Notes
  functions/src/cross-platform/getNotesAndTags.ts
Labels: cross-platform, enhancement

#12 BREAKING CHANGE: Fixed getNotes Functions; Added Flutter Get Notes
  flutter/lib/Classes/dataObjects.dart
  flutter/lib/Database/getNotes.dart
  flutter/lib/Pages/noteList.dart
  flutter/lib/Routes/home.dart
  flutter/lib/Widgets/loading.dart
  flutter/lib/main.dart
  flutter/pubspec.lock
  flutter/pubspec.yaml
  functions/package.json
  functions/src/@types/index.d.ts
  functions/src/cross-platform/getNotesAndTags.ts
  functions/src/cross-platform/manageNotes.ts
  functions/src/flutter/getNotesFlutter.ts
  functions/src/index.ts
Labels: breaking-change, bug, chore, cross-platform, enhancement, flutter-app

#13 BREAKING CHANGE: getNotes Now Gets Complete or Open Notes
  flutter/lib/Database/getNotes.dart
  flutter/lib/Pages/noteList.dart
  flutter/lib/Routes/home.dart
  functions/src/cross-platform/getNotesAndTags.ts
  functions/src/flutter/getNotesFlutter.ts
Labels: breaking-change, bug, cross-platform, flutter-app

#14 feat(functions): Added Helpers to Tag the Latest Note
  functions/src/alexa/tagLastNoteHelper.ts
  functions/src/cross-platform/getNotesAndTags.ts
  functions/src/cross-platform/manageNotes.ts
  functions/src/cross-platform/manageTags.ts
  functions/src/index.ts
Labels: bug, cross-platform, enhancement

#15 feat: Flutter Supports Getting and Updating Past and Current Lists
  flutter/lib/Classes/dataObjects.dart
  flutter/lib/Database/getNotes.dart
  flutter/lib/Database/manageNotesDatabase.dart
  flutter/lib/Pages/noteList.dart
  flutter/lib/Routes/home.dart
  flutter/lib/Widgets/note.dart
  functions/src/cross-platform/manageNotes.ts
  functions/src/flutter/getNotesFlutter.ts
  functions/src/flutter/manageNotesFlutter.ts
  functions/src/index.ts
Labels: enhancement, flutter-app

#16 feat: Flutter and Firebase Support Reordering Notes
  flutter/lib/Database/manageNotesDatabase.dart
  flutter/lib/Routes/home.dart
  functions/src/flutter/manageNotesFlutter.ts
  functions/src/index.ts
Labels: enhancement, flutter-app

#17 feat(alexa): Added New Handlers to Add Tags and Get Notes
  functions/src/alexa/handlers.ts
  functions/src/alexa/tagLastNoteHelper.ts
  functions/src/cross-platform/getNotesAndTags.ts
Labels: amazon-alexa, bug, enhancement

#18 fix(alexa): Fixed a TagName vs. TagId Bug Getting Notes
  functions/src/alexa/handlers.ts
  functions/src/alexa/tagLastNoteHelper.ts
  functions/src/helpers/tagHelpers.ts
Labels: amazon-alexa, bug

#19 feat: Flutter Supports Adding and Removing Tags To/From Notes
  flutter/lib/Database/manageTagsDatabase.dart
  flutter/lib/Pages/noteList.dart
  flutter/lib/Pages/tagList.dart
  flutter/lib/Routes/home.dart
  flutter/lib/Widgets/note.dart
  flutter/lib/main.dart
  functions/src/flutter/manageTagsFlutter.ts
  functions/src/index.ts
Labels: enhancement, flutter-app

#20 feat: Added Flutter "Filter By Tag" Functionality, and Other Bug Fixes
  flutter/lib/Database/manageNotesDatabase.dart
  flutter/lib/Routes/home.dart
  flutter/lib/Widgets/tagFilterBar.dart
  functions/src/alexa/handlers.ts
  functions/src/cross-platform/getNotesAndTags.ts
Labels: amazon-alexa, bug, cross-platform, enhancement, flutter-app

#21 feat(alexa): more handlers
  functions/src/alexa/handlers.ts
  functions/src/alexa/tagLastNoteHelper.ts
Labels: amazon-alexa, bug
